<div class="card mb-3">
  <img class="card-img-top" src="../../../assets/foto%20asue%20sayt/uefa/images.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">UEFA FUTSAL CUP 2016</h5>
    <p class="card-text"> Armenia was host the pre-round of the UEFA Futsal Cup 2016-17 for the first time. Double champion of Armenian Futsal, Armenian State University of Economics team was represent our country during the A group matches was held on August 16-21 at the Armenian Football Academy.
      In this round, the opponents of the Armenian team were APOEL (Cyprus), Futsal Maniacs (Switzerland) and Gentofte (Denmark). All the participants was the current champions of their countries and was among the leaders of the world futsal rating list.</p>
  </div>
</div>
