<div class="card mb-3">
  <img class="card-img-top" src="../../../assets/foto%20asue%20sayt/uefa/images.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">UEFA FUTSAL CUP 2015</h5>
    <p class="card-text">ASUE futsal team, who was the champion of Armenia in the Futsal Premier League of 2014/2015 years,was leaving for Chisinau (Moldova), to participate in the qualifying round of the UEFA Futsal Cup, which took place on August 26-29.ASEU team included in the G group, along with “Progress” team (Moldova) and “Hale-Guyk” (Belgium). The members of our delegation was: 13 athletes, head Coach Karen Mikaelyan, head of the delegation- Vice-Rector Sevak Khachatryan and the acting head of the chair of Physical training, emergency situations Hovhaness Gabrielyan.</p>
  </div>
</div>
