<div class="card-group text-center">
  <div class="card bg-danger p-5 ">
    <img class="card-img-top rounded mx-auto d-block" src="../../../assets/foto%20asue%20sayt/cup1.png" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title text-warning">2014-2015</h2>
      <h3 class="card-text text-warning">Champion of RA futsal Premier League</h3>
    </div>
  </div>
  <div class="card bg-danger p-5">
    <img class="card-img-top  rounded mx-auto d-block" src="../../../assets/foto%20asue%20sayt/cup1.png" alt="Card image cap">
    <div class="card-body ">
      <h2 class="card-title text-warning ">2015-2016</h2>
      <h3 class="card-text text-warning ">Champion of RA futsal Premier League</h3>
    </div>
  </div>

</div>
