

<div class="paraya">
<div class=" paraya1 d-flex align-items-center">
  <!--<h1 class="align-items-center  text-danger font-weight-bold p-5">ABOUT AS</h1>-->
  <h2 class="text-warning p-5 font-weight-bold">Student Team Armenian State University of Economic the multiple Champion of student games, which began to perform in the RA futsal Premier League in 2014, and became the double champion of the Armenia.
    Represented her country and the university in European university games 3 times (2014,2015,2016) and in the UEFA Futsal Cup 2 times (2015,2016).</h2>
</div>

</div>
