<nav class="navbar navbar-expand-lg   sticky-top navguin">
  <a class="navbar-brand" routerLink="/sample1" ><img src="../../../assets/foto%20asue%20sayt/logo%20(2).png" alt="logo" style="height: 60px;width: 50px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/sample1" routerLinkActive="active">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sample2" routerLinkActive="active">TEAM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sample3" routerLinkActive="active">COMPETITION</a>
      </li>


      <li class="nav-item">
        <a class="nav-link " routerLink="/sample4" routerLinkActive="active">CONTACT US</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
