<div class="card-columns">

  <a class="nav-link" routerLink="/sample5" routerLinkActive="active">
  <div class="card p-5 border-secondary">
    <img class="card-img-top" src="../../../assets/foto%20asue%20sayt/uefa/uef.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">UEFA FUTSAL CUP 2015</h5>
      <p class="card-text">ASUE team took part in the matches of the first qualifying round of the UEFA Futsal Cup 2015...</p>
    </div>
  </div>
  </a>


  <a class="nav-link" routerLink="/sample8" routerLinkActive="active">

  <div class="card p-5 border-secondary">
    <img class="card-img-top" src="../../../assets/foto%20asue%20sayt/zagreb/zgb.png" alt="Card image cap">
    <div class="  card-body">
      <h5 class="card-title">THE 3RD EDITION OF THE EUROPEAN UNIVERSITIES GAMES 2016</h5>
      <div class="card-body">
        <p>This edition of the European Universities Games, which took place from July 12 to July 25, was the greatest and biggest so far...</p>
      </div>
    </div>
  </div>
  </a>

  <a class="nav-link" routerLink="/sample6" routerLinkActive="active">
  <div class="card p-5 border-secondary">
    <img class="card-img-top" src="../../../assets/foto%20asue%20sayt/uefa/uefa16.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">UEFA FUTSAL CUP 2016</h5>
      <p class="card-text">Armenia was host the pre-round of the UEFA Futsal Cup 2016-17 for the first time...</p>

    </div>
  </div>
  </a>


  <div class="card p-5 border-secondary">
    <img class="card-img-top" src="../../../assets/foto%20asue%20sayt/logo3.jpg" alt="mi ban">
  </div>

  <a class="nav-link" routerLink="/sample9" routerLinkActive="active">

  <div class="card p-5 border-secondary">
    <img class="card-img-top" src="../../../assets/foto%20asue%20sayt/champ1.jpg" alt="Card image cap">

     <div class="card-body">
      <h5 class="card-title">Armenian futsal Premier League 2014-2015</h5>
      <p class="card-text">ASUE futsal team defeated Vanadzor "Talgrig" team with the score 8:3, becoming the champion of RA futsal Premier League ...</p>
    </div>
  </div>
  </a>

  <a class="nav-link" routerLink="/sample7" routerLinkActive="active">
  <div class="card p-5 border-secondary">
    <img class="card-img-top" src="../../../assets/foto%20asue%20sayt/poznan/lav.jpg" alt="Card image">
    <div class="card-body">
      <h5 class="card-title">10TH EUROPEAN UNIVERSITIES FUTSAL CHAMPIONSHIP</h5>
      <p class="card-text">On 1st August 2015 in the Aula Lubrańskiego of the Adam Mickiewicz University, the Opening Ceremony of the 10th European Universities Futsal Championship ...</p>
    </div>
  </div>
  </a>

  <a class="nav-link" routerLink="/sample10" routerLinkActive="active">
  <div class="card p-5 border-secondary">
    <img class="card-img-top " src="../../../assets/foto%20asue%20sayt/2016champ.jpg" alt="Card image">

    <div class="card-body">
      <h5 class="card-title">Armenian futsal Premier League 2015-2016</h5>
      <p class="card-text">Futsal team of ASUE won the title in RA higher Futsal Championship League for the season of 2015-2016...</p>

    </div>
  </div>
  </a>
</div>
<router-outlet></router-outlet>
