<div class="card mb-3">
  <img class="card-img-top" src="../../../assets/foto%20asue%20sayt/uefa/images.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">THE 3RD EDITION OF THE EUROPEAN UNIVERSITIES GAMES 2016</h5>
    <p class="card-text">Sports featured were Badminton, Basketball, Basketball 3×3, Beach Volleyball, Bridge, Chess, Football, Futsal, Golf, Handball, Judo, Karate, Rowing, Rugby 7’s, Sport Climbing, Swimming, Table Tennis, Taekwondo, Tennis, Volleyball and Water Polo. This edition of the European Universities Games, which took place from July 12 to July 25, was the greatest and biggest so far.More than 5,000 participants representing over 400 universities from 40 European countries competed in Croatian cities Zagreb and Rijeka.</p>
  </div>
</div>
