<div class="card mb-3">
  <img class="card-img-top" src="../../../assets/foto%20asue%20sayt/uefa/images.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">10TH EUROPEAN UNIVERSITIES FUTSAL CHAMPIONSHIP</h5>
    <p class="card-text"> On 1st August 2015 in the Aula Lubrańskiego of the Adam Mickiewicz University, the Opening Ceremony of the 10th European Universities Futsal Championship was held.About 500 athletes in 22 men’s and 7 women’s teams, representing 29 universities from 14 countries completed from August the 2 to the 9 in 3 sportcenters in Poznan, Poland.The Ceremony opened with the colourful procession of all the teams taking part in the Championship.
      ASUE futsal team successfully participated in 10th European Universities Futsal Championship, which took place in the city of Poznan, Poland on August 2-9. Our team took the 9th place among 22 university teams.
      The head of the chair of Physical training, emergency situations Hovhaness Gabrielyan informed that ASUE futsal team had recorded 4 victories and 2 draws. They lost to Croatia, who won the league title.
    </p>
  </div>
</div>
